<!DOCTYPE html>
<html lang="ko" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+KR:300,400,500&display=swap" rel="stylesheet">
    <link href='//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css' rel='stylesheet' type='text/css'>
    <title>FESPAY: 부스용</title>
    <link rel="stylesheet" href="/booth.css">
</head>
<body>
<nav>
    <ul class="navbar">
        <li><a class="logo" href="/">페스페이</a></li>
        <li class="user"><a href="/">뒤로 가기</a></li>
    </ul>
</nav>
<div id="app">
    <noscript>
        <div class="box alert">
            <p>페스페이는 JavaScript 없이는 작동하지 않습니다.<br>자바스크립트를 허용해 주십시오.</p>
        </div>
    </noscript>

    <section>
        <div class="enter_amount">
            <h2>결제할 금액</h2>
            <form autocomplete="off">
                <label>
                    <input type="text" v-model="amount" placeholder="ex) 2100" pattern="\d*" value="" autofocus
                           v-bind:class="inputClass">
                    왕운 코인
                </label>
            </form>
            <p class="hangulAmount">{{ filterAmount }}</p>
            <div class="amount_next">
                <button v-if="canContinue" class="bottom-right">다음</button>
            </div>
        </div>
    </section>
</div>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://serratus.github.io/quaggaJS/examples/js/quagga.min.js"></script>
<script>
    Quagga.init({
        inputStream: {
            name: "Live",
            type: "LiveStream",
            target: document.querySelector('#scan'),
            constraints: {
                width: {min: 480},
                height: {min: 640},
                aspectRatio: {min: 1, max: 100},
                facingMode: "environment"
            }
        },
        numOfWorkers: 4,
        decoder: {
            readers: ["code_39_reader"]
        },
    }, function (err) {
        if (err) {
            console.log(err);
            return
        }
        console.log("READY TO START");
        Quagga.onDetected(function (data) {
            console.log(data.codeResult)
        });

    })
</script>
<script>
    function viewKorean(num) {
        let hanA = ["", "일", "이", "삼", "사", "오", "육", "칠", "팔", "구", "십"];
        let danA = ["", "십", "백", "천", "", "십", "백", "천", "", "십", "백", "천", "", "십", "백", "천"];
        let result = "";
        for (let i = 0; i < num.length; i++) {
            let str = "";
            let han = hanA[num.charAt(num.length - (i + 1))];
            if (han !== "") str += han + danA[i];
            if (i === 4) str += "만";
            result = str + result;
        }
        return result;
    }

    function filterAmount() {
        this.canContinue = false;
        let num = this.amount;
        if (num == 0 || num === "") {
            return "금액을 입력하세요"
        }
        if (num > 50000) {
            return "금액이 너무 큽니다"
        }
        if (num % 100 !== 0) {
            return "100원 단위로 입력해야 합니다"
        }
        this.canContinue = true;
        return viewKorean(num) + " 왕운 코인"
    }

    let app = new Vue({
        el: '#app',
        data: {
            message: "부정 결제 시 탄핵됩니다",
            amount: 0,
            canContinue: false,
        },
        computed: {
            filterAmount: filterAmount,
            inputClass: function () {
                return this.canContinue ? "green" : "red"
            }
        }
    });

    app.amount = "";
</script>
</body>
</html>