@font-face {
    font-family: 'yangjin';
    src: url('https://cdn.jsdelivr.net/gh/supernovice-lab/font@0.9/yangjin.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ON-IGothic';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_eleven@1.0/ON-IGothic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'S-CoreDream-8Heavy';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-8Heavy.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Spoqa Han Sans', sans-serif;
    font-weight: 500;
}

body {
    background-color: rgb(255, 251, 239, 0);
    color: rgba(0, 0, 0, 0.726);
}

#app {
    /* min-height: 90vh; */
    position: relative;
}

.app-margin {
    margin: 20px;
    margin-top: 60px;
    padding-bottom: 2.5rem;
}

.alert {
    background-color: rgb(255, 59, 59);
    padding: 10px;
    font-size: 15px;
    color: white;
    font-weight: 700;
    border-radius: 10px;
}

.navbar {
    list-style-type: none;
    margin: 0;
    margin-top: 10px;
    padding: 0;
    overflow: hidden;
    font-size: 25px;
    /* border-bottom: 1px dotted #555;
    background-color: rgb(31, 23, 23); */
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10000;
}

.navbar .logo {
    font-size: 40px;
    color: red;
    font-family: 'yangjin', sans-serif;
}

.navbar li {
    float: left;
}

.navbar li a {
    text-decoration: none;
    text-align: center;
    padding: 10px 10px;
}

.navbar .user {
    float: right;
}

.user a {
    font-size: 20px;
    font-weight: 400;
    text-decoration: none;
    color: black;
}

.booth_box {
    margin: 15vh 20px 0 20px;
}

.enter_amount form {
    text-align: center;
}


.enter_amount input[type=text] {
    border-radius: 0;
    padding: 10px;
    margin-top: 13vh;
    width: 60%;
    box-sizing: border-box;
    background-color: rgb(255, 251, 239, 0);
    font-size: 50px;
    font-weight: 900;
    text-align: center;
}

.red_border {
    border: none;
    border-bottom: 3px solid salmon;
}

.green_border {
    border: none;
    border-bottom: 3px solid seagreen;
}

.red {
    color: salmon;
}

.green {
    color: seagreen;
}

h2 {
    font-size: 10vw;
    font-weight: 500;
    font-family: 'S-CoreDream-8Heavy', sans-serif;
}

.enter_amount label {
    font-size: 25px;
    font-weight: 500;
}

button {
    margin: 40px;
    font-size: 30px;
    font-weight: 700;
    padding: 7px 10px 7px 10px;
    text-decoration: none;
    text-align: center;
    color: white;
    background-color: seagreen;
    border: none;
    border-radius: 10px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    position: fixed;
}

.bottom-right {
    bottom: 0;
    right: 0;
}

.bottom-left {
    left: 0;
    bottom: 0;
}

.hangulAmount {
    margin-top: 10px;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
}

.coin_amount {
    text-align: right;
    font-size: 10vw;
}

.payment_history {
    background-color: cyan;
    font-weight: 300;
}

.payment_history table {
    background-color: white;
    width: 100%;
}

.payment_history tbody th {
    font-weight: 300;
}

table, th, td {
    border-bottom: 1px solid black;
    border-collapse: collapse;
}

thead {
    background-color: lightgreen;
    font-weight: 500;
}

th, td {
    padding: 5px;
    text-align: center;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

.canceled_record {
    text-decoration-line: line-through;
    color: grey;
}

#video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -100;
    position: fixed;
}

#scan canvas {
    display: none;
}

.scan_h2 {
    margin: 20px;
    color: white;
    text-shadow: 2px 2px 2px black;
    margin-top: 20vh;
    position: fixed;
}

.record-result ul {
    margin-top: 20px;
}

.record-result li {
    list-style-type: none;
}